doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='cordova.js')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/angular-timer/dist/angular-timer.min.js')
    script(src='js/app.js')
    script(src='js/AppCtrl.js')
    script(src='js/start.js')
    script(src='js/factories/ball.js')
    script(src='js/factories/boundaries.js')
    script(src='js/factories/collision.js')
    script(src='js/factories/game.js')
    script(src='js/factories/start.js')
    script(src='js/factories/target.js')
    script(src='js/factories/screenOrientation.js')
    script(src='js/factories/deviceMotion.js')

  body(data-ng-app='gyroball')
    ion-pane(data-ng-controller='AppCtrl')
      ion-header-bar.bar-stable
        h1.title Gyroball
      ion-content
        canvas#playground(width='2000', height='2000')
        //- canvas#playground(width='{{x}}px', height='{{y}}px')

        pre {{orientation | json}}
        pre {{data | json}}
      .bar.bar-footer.bar-stable
        button(ng-click='startTimer()') Start
        button(ng-click='stopTimer()') Stop
        .timer
          timer(autostart='false', interval='1000') {{minutes}} min, {{seconds}} sec
