doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='lib/angular-timer/dist/angular-timer.min.js')
    script(src='js/app.js')
    script(src='js/MainCtrl.js')
    //- script(src='js/ball.js')
  body(data-ng-app='gyroball')
    ion-pane(data-ng-controller='MainCtrl')
      ion-header-bar.bar-stable
        h1.title Gyroball
      ion-content
        canvas#gameCanvas(width='{{x}}px', height='{{y}}px')
        .area(style='width: {{x}}px; height: {{y}}px;')
          .hole(style='left: 200px; height: 50px;')
          .ball(style='left: {{ballX}}px; top: {{ballY}}px;')
        pre {{orientation | json}}
        pre {{data | json}}
        .bar.bar-footer.bar-stable
          button(ng-click='startTimer()') Start
          button(ng-click='stopTimer()') Stop
          .timer
            timer(autostart='false', interval='1000') {{minutes}} min, {{seconds}} sec
