doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='cordova.js')
    script(src='lib/angular-timer/dist/angular-timer.min.js')
    script(src='js/app.js')
    script(src='js/MainCtrl.js')
  body(data-ng-app='gyroball')
    ion-pane
      ion-header-bar.bar-stable
        h1.title Gyroball
      ion-content(data-ng-controller='MainCtrl')
        timer(interval='1000') {{minutes}} min, {{seconds}} sec
        button(ng-click='startTimer()', ng-disabled='timerRunning') Start
        button(ng-click='resetTimer()', ng-disabled='!timerRunning') Stop
